/* latin-ext */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* hebrew */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');
	unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* hebrew */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');
	unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* hebrew */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');
	unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* hebrew */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');
	unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSKmu1aB.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSumu1aB.woff2) format('woff2');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSOmu1aB.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSymu1aB.woff2) format('woff2');
	unicode-range: U+0370-03FF;
  }
  /* hebrew */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS2mu1aB.woff2) format('woff2');
	unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  /* vietnamese */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSCmu1aB.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 800;
	font-stretch: 100%;
	src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
:root {
--bs-primary-font:'Lato';
--bs-secondary-font:'Open Sans';
--primary-color:#11749e;
}
img{
	object-fit: cover;
	width: 100%;
}

a{
	font-family: var(--bs-primary-font);
	color:#000;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--bs-primary-font);
	color: #1A1A1A;
}
li{
	list-style: none;
}
h1{
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
}
h2{
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
}
h3{
    font-size: 28px;
    line-height: 35px;
    font-weight: 600;
}
h4{
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
}
h5{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}
h6{
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
}
p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-family: var(--bs-secondary-font);
    color: var(--bs-paragraph);
}
.header{
	background-color: #fff;
}
.home-slider{
	margin-top: 78.5px;
}
.header .nav-link{
	color:#000;
	font-family: var(--bs-primary-font);	
	font-size: 15px;
    font-weight: 600;
    padding: 30px 0px 26px !important;
    border-radius: 0;
    margin-right: 32px;
	text-transform: uppercase;
}
.header .navbar-brand h3{
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 26px;
}
.header .navbar-collapse{
	justify-content: flex-end;
}
.header .navbar-nav .nav-item:last-of-type .nav-link{
	margin-right: 0;
}
.header .nav-link:hover{
	color:var(--primary-color);
}
.header .navbar{
	padding:0 !important;
}
#content{
	padding: 0 !important;
}
.bg-image{
	background-repeat: no-repeat;
	background-size: cover;
}
.node__content.clearfix{
	margin:0 !important;
}
.home-slider .item p{
	margin-bottom: 0;
	font-size: 16px;
	line-height: 25px;
}
.dt-section{
	padding:80px 0;
}
.home-slider .item img{
	height: 600px;
}
.home-slider{
	min-height: 600px;
	position: relative;
}
.home-slider .item h3{
	text-transform: uppercase;
	color:#1A1A1A;
}
.home-slider .arrows button{
	background-color: unset;
	border:unset;
	box-shadow: unset;
}
.home-slider .arrows .prev{
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	margin: auto;
	height: max-content;
}
.home-slider .arrows .next{
	position: absolute;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
	height: max-content;
}
.home-slider .arrows svg{
	width:20px;
	height: 20px;
	position: absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
	margin:auto;
}
.home-slider .arrows .arrow-icon{
	position: relative;
	width:50px;
	height: 50px;
	border-radius: 50%;
	border:1px solid #000;
	display: block;
}
.home-slider .owl-dots{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.home-slider .owl-dots button span{
	width:15px !important;
	height: 15px !important;
	background-color: unset !important;
	border:1px solid #000;
	margin: 3px !important;
}	
.home-slider .owl-dots .owl-dot.active span{
	background-color: var(--primary-color) !important;
	border:1px solid var(--primary-color) !important;
}
.title-1{
	text-align: center;
}
.title-1 h2{
	width: max-content;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 26px;
	text-transform: uppercase;
}
.title-1 h2::before{
	content:"";
	position: absolute;
	bottom:0;
	width:100%;
	background-color: #fff;
	height: 2px;
}
.about-us{
	background-color: var(--primary-color);
}
.about-us .title-1 h2{
	color:#fff;
}
.about-us .title-1 p{
	color:#fff;
}
.about-us .about-us-features{
	margin-top: 70px;
	text-align: center;
}
.about-us .about-us-features h3{
	color:#fff;
	font-size: 22px;
	margin-bottom: 0;
	padding:10px 0;
	border-bottom: 1px solid #fff;
}
.about-us .about-us-features img{
	width:100px;
	height: 100px;
	margin-bottom: 20px;
}
.about-us .about-us-features p{
	color:#fff;
}
.about-us .about-us-features .item .item-content{
	padding:25px 10px;
}
.about-us .about-us-features .item{
	border:1px solid #fff;
	border-radius: 5px;
	margin-bottom: 20px;
}
.services-section .title-1 h2{
	color:#fff;
}
.services-section .services{
	text-align: center;
	margin-top: 60px;
}
.services-section .services .item .icon{
	position: relative;
	width:150px;
	height: 150px;
	border-radius: 50%;
	background-color: var(--primary-color);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
.services-section .services i{
	color:#fff;
	font-size: 60px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width: max-content;
	height: max-content;
}
.services-section .services p{
	color:#fff;
}
.portfolio .portfolio-images{
	padding-bottom: 70px;
}
.portfolio .portfolio-images img{
	width:200px;
	height: 170px;
}
.portfolio .portfolio-images .col-lg-4{
	margin-bottom: 24px;
}	
.portfolio .title-1 p{
	margin-bottom: 70px;
}
.portfolio .title-1 h2::before{
	background-color: #000;
}
.portfolio.dt-section{
	padding-bottom: 0;
	background-color: #ebecee;
}
.portfolio .portfolio-images .arrows button{
	box-shadow: unset;
	background-color: unset;
	border:unset;
}
.portfolio .portfolio-images .col-lg-7{
	position: relative;
}
.portfolio .portfolio-images .arrows .next{
	position: absolute;
	top:-25px;
	right:-43px;
	bottom:0;
	margin:auto;
	z-index:1;
	height: max-content;
}
.portfolio .portfolio-images .arrows .prev{
	position:absolute;
	top:-25px;
	left:-43px;
	bottom:0;
	margin:auto;
	z-index:1;
	height: max-content;
}
.portfolio .portfolio-images .arrows svg{
	width:20px;
	height: 20px;
}
.portfolio .portfolio-images .image::before{
	position: absolute;
	content:"";
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0);
	transition: 0.3s ease-in-out;
}
.portfolio .portfolio-images .image:hover::before{
	background-color: rgb(0, 0, 0, 0.7);
	transition: 0.3s ease-in-out;
}
.portfolio .portfolio-images .image:hover .overlay h4{
	opacity: 1;
	transition: 0.3s ease-in-out;
}
.portfolio .portfolio-images .image{
	position: relative;
}
.portfolio .portfolio-images .overlay{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	height: max-content;
	width: max-content;
}
.portfolio .portfolio-images .overlay h4{
	color:#fff;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
.recent-news .item img{
	margin-bottom: 20px;
}
.recent-news .item{
	text-align: center;
}
.recent-news .item h3{
	font-size: 20px;
	color:var(--primary-color);
}
.recent-news .title-1 h2::before{
	background-color: #000;
}
.recent-news .news{
	margin-top: 50px;
}
.contact .title-1 h2{
	color:#fff;
}
.contact input{
	height: 46px;
}
.contact textarea{
	height: 186px;
}
.contact input,
.contact textarea{
	background-color: transparent;
	border: 1px solid #999;
	color:rgb(255, 255, 255, 0.5);
	font-family: var(--bs-primary-font);
}
.contact input::placeholder{
	color:rgb(255, 255, 255,0.5);
	font-family: var(--bs-primary-font);
}
.contact input:focus,
.contact textarea:focus{
	background-color: transparent;
	color:rgb(255, 255, 255,0.5);
	box-shadow: unset;
	border-color:var(--primary-color);
}
.contact form .btn{
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}
.contact form #edit-actions{
	text-align: center;
}
.contact .yg-contact-form{
	margin-top: 60px;
}
.site-footer{
	background-color: unset;
	padding:0;
}
.copyrights{
	background-color: #000;
	text-align: center;
	overflow-x: hidden;
	padding:30px 0;
}
.copyrights p{
	overflow-x: hidden;
	color:#fff;
	font-size: 12px;
	margin-bottom: 0;
}
.blog-list .item{
	text-align: center;
}
.blog-list .item img{
	margin-bottom: 20px;
}
.blog-list .item h4 a{
	color:#11749e;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
}
.blog-details img{
	margin-bottom: 40px;
	height: 500px;
}
.blog-details .content{
	padding:30px;
	border:1px solid lightgray;
	border-radius:10px;
}
.blog-details .blog-title{
	text-transform: uppercase;
	margin-bottom: 35px;
}
.blog-details .blog-comments{
	margin-top: 50px;
}
.blog-details .blog-comments .comment-list img{
	width:80px;
	height: 80px;
	border-radius: 999px;
}
.blog-details .blog-comments .comment-list{
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;
}
.sidebar-page h2{
	font-size: 25px;
	margin-bottom: 20px;
}
.other-blogs li h5 a{
	color:#11749e;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
}
.location-map iframe{
	width:100%;
	height: 400px;
}
.location-map p{
	margin:0 !important;
	line-height: 0 !important;
}
.blog-list.dt-section{
	padding-top: 170px;
}
.sidebar-page.dt-section{
	padding-top: 170px;
}
.error-pages{
	height: 100vh;
	text-align: center;
	position: relative;
}
.error-pages .content{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	height:max-content;
	width: max-content;
}
.error-pages .content h1{
	font-size: 120px;
	font-family: var(--bs-primary-font);
	color:var(--primary-color);
	line-height: 150px;
}
.error-pages .content h2{
	margin-bottom: 20px;
}
.error-pages .content p{
	margin-bottom: 30px;
}
.error-pages .content a{
	color:#fff;
	background-color: var(--primary-color);
	text-decoration: unset;
	border-radius: 5px;
	height: max-content;
	padding:10px 0;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.header .nav-link.active{
	color:var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
}
.toolbar-fixed .home-slider{
	margin-top: 0px;
}
.toolbar-fixed .header{
	margin-top: 46px
}
.toolbar-fixed.toolbar-tray-open .header{
	margin-top: 80px;
}

@media (max-width: 767.98px){
	.res-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
	.res-header svg{
		width:30px;
		height: 30px;
	}
	.error-pages .content{
		width:300px;
	}
	.header .navbar-brand h3{
		font-size: 20px;
	}
	.home-slider .arrows{
		display: none;
	}
	.home-slider .item img{
		height: auto;
	}
	.portfolio .portfolio-images img{
		width: 100%;
	}
	.portfolio.dt-section{
		overflow-x: hidden;
	}
	.home-slider{
		padding-top: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px){
	.res-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
	.res-header svg{
		width:30px;
		height: 30px;
	}
	.home-slider{
		padding-top: 50px;
	}
	.home-slider .item img{
		height: auto;
	}
	.portfolio .portfolio-images img{
		width: 100%;
	}
	.portfolio.dt-section{
		overflow-x: hidden;
	}
	.header .navbar-brand h3{
		font-size: 20px;
	}
}

@media(min-width:992px){
	.container{
		max-width: 1140px;
	}
	.home-slider .item .col-lg-6:first-of-type{
		width:57%
	}
	.home-slider .item .col-lg-6:last-of-type{
		width:43%
	}
	.sidebar-page .col-lg-8{
		width:70%
	}
	.sidebar-page .col-lg-4{
		width:30%
	}
}
@media(min-width:1200px){
	.s-25{
		margin-left: -25px;
		margin-right: -25px;
	}
	.s-25>div{
		padding-left: 25px;
		padding-right: 25px;
	}
	.s-15{
		margin-left: -15px;
		margin-right: -15px;
	}
	.s-15>div{
		padding-left: 15px;
		padding-right: 15px;
	}

}