<header class="header fixed-top">
	<div class="menubar">
		<div class="container">
			<div class="res-header d-lg-none">
				{{page.logo}}
				<div class="others-in-header">
					{{page.language_block}}
					<button class="open navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent_1" aria-controls="navbarSupportedContent_1" aria-expanded="false" aria-label="Toggle navigation">
						<svg xmlns="http://www.w3.org/2000/svg" width="150" height="118.75" viewBox="0 0 150 118.75">
							<path data-name="Icon material-menu" d="M4.5,127.75h150V107.958H4.5Zm0-49.479h150V58.479H4.5ZM4.5,9V28.792h150V9Z" transform="translate(-4.5 -9)" fill="#141414"/>
						</svg>
					</button>
					<button class="close navbar-toggler d-none d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent_1" aria-controls="navbarSupportedContent_1" aria-expanded="false" aria-label="Toggle navigation">
						<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
							<path  data-name="Union 80" d="M21.967,128.033A75,75,0,1,1,75,150,75,75,0,0,1,21.967,128.033ZM31.61,31.612A61.363,61.363,0,0,0,75,136.365l0,0A61.364,61.364,0,1,0,31.61,31.612ZM75,84.641,55.718,103.923l-9.641-9.64L65.36,75,46.078,55.718l9.641-9.641L75,65.36,94.283,46.078l9.64,9.641L84.641,75l19.282,19.282-9.64,9.64Z" fill="#181c31"/>
						</svg>
					</button>
				</div>
			</div>
			<nav class="navbar navbar-expand-lg">
				<div class="d-none d-lg-block">
					{{page.logo}}
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent_1">
					{{page.primary_menu}}
				</div>
			</nav>
		</div>
	</div>
</header>
{# Search  #}
<div class="search-overlay modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="content modal-content">
			{{page.search}}
		</div>
	</div>
</div>