<div class=" animate__animated animate__fadeInUp col-lg-4 col-md-6 col-12">
    <div class="item">
        <h3>{{content.field_title.0}}</h3>
        <div class="item-content">
            <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{file_url(content.field_image['#items'].alt)}}"> 
            {{content.field_description.0}}
        </div>
    </div>
</div>