<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="col-lg-3">
    <div class="item">
        <div class="icon">
            {{content.field_icon.0}}
        </div>
        {{content.field_description.0}}
    </div>
</div>