<section id="contact" class="contact dt-section" style="background-image:url('{{file_url(content.field_image['#items'].entity.uri.value)}}')">
    <div class="container">
         <div class="title-1">
            <h2 data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">{{content.field_title.0}}</h2>
        </div>
        <div class="yg-contact-form" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            {{content.field_contact_form.0}}
        </div>
    </div>
</section>