<section class="error-pages">
    <div class="container">
        <div class="content animate__animated animate__zoomInDown">
            <h1>{{content.field_title.0}}</h1>
            <h2>{{content.field_title_2.0}}</h2>
            {{content.field_description.0}}
            <a href="{{content.field_link.0['#url']}}" title="{{content.field_link.0['#title']}}">{{content.field_link.0['#title']}}</a>
        </div>
    </div>
</section>