<div class="row">
    {% for key,value in content.field_images['#items'] %}
        <div class="col-lg-4 col-md-6 col-12">
            <a href="{{file_url(content.field_images['#items'][key].entity.uri.value)}}" title="Title">
                <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="image">
                    <img src="{{file_url(content.field_images['#items'][key].entity.uri.value)}}" alt="{{file_url(content.field_images['#items'][key].alt)}}">
                    <div class="overlay">
                        <h4>Title</h4>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>