<section id="news" class="recent-news dt-section">
    <div class="container">
        <div class="title-1" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            <h2>{{content.field_title.0}}</h2>
        </div>
        <div class="news">
            <div class="row data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"">
                {{content.field_news}}
            </div>
        </div>
    </div>
</section>