<div class="item">
    <div class="row align-items-center s-25">
        <div class="col-lg-6 col-12">
            <h3 class="animate__animated animate__fadeInDown">{{content.field_title.0}}</h3>
            <div class="animate__animated animate__fadeInDown">{{content.field_description.0}}</div>
        </div>
        <div class="col-lg-6 col-12 animate__animated animate__zoomIn">
            <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{file_url(content.field_image['#items'].alt)}}">
        </div>
    </div>
</div>