<section id="hero-slider" class="home-slider bg-image" style="background-image:url('{{file_url(content.field_image['#items'].entity.uri.value)}}')">
    <div class="container">
        <div class="home-slider-1 owl-carousel owl-theme">
            {{content.field_slide}}
        </div>
    </div>
    <div class="arrows">
        <button class="prev">
            <span class="arrow-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="94" height="150" viewBox="0 0 94 150">
                    <path data-name="Path 40648" d="M94,13.409,79.662,0,0,75l79.743,75L94,136.591,28.514,75Z" fill="#181c31"/>
                </svg>
            </span>
        </button>
        <button class="next">
            <span class="arrow-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="94" height="150" viewBox="0 0 94 150">
                    <path data-name="Path 40647" d="M0,13.409,14.338,0,94,75,14.257,150,0,136.591,65.486,75Z" fill="#181c31"/>
                </svg>
            </span>
        </button>
    </div>  
</section>