<section id="about" class="about-us dt-section">
    <div class="container">
        <div class="title-1">
            <h2 class="animate__animated animate__fadeInUp">{{content.field_title.0}}</h2>
            <div class="animate__animated animate__fadeInUp">{{content.field_description.0}}</div>
        </div>
        <div class="about-us-features">
            <div class="row s-15">
                {{content.field_features}}
            </div>
        </div>
    </div>
</section>