<section id="service" class="services-section bg-image dt-section" style="background-image:url('{{file_url(content.field_image['#items'].entity.uri.value)}}')">
    <div class="container">
        <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="title-1">
            <h2>{{content.field_title.0}}</h2>
        </div>
        <div class="services">
            <div class="row">
                {{content.field_service}}
            </div>
        </div>
    </div>
</section>