<div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="col-lg-3 col-md-6 col-12">
    <div class="item">
        <img src="{{file_url(content.field_image['#items'].entity.uri.value)}}" alt="{{file_url(content.field_image['#items'].alt)}}">
        <h3>{{content.field_title.0}}</h3>
        {{content.field_description.0}}
    </div>
</div>