<div class="col-lg-3">
  <div class="item animate__animated animate__fadeInRight">
    <a href="{{fields.view_node.content}}" title="{{fields.title.content}}"><img src="{{fields.field_image.content}}" alt="{{fields.field_image_1.content}}"></a>
    <h4><a href="{{fields.view_node.content}}" title="{{fields.title.content}}">{{fields.title.content}}</a></h4>
    <p>{{fields.body.content}}</p>
    <a href="{{fields.view_node.content}}" title="{{fields.nothing.content}}">{{fields.nothing.content}}</a>
  </div>
</div>