<section class="blog-details">
    <div class="container">
        <h2 class="blog-title">{{label}}</h2>
          <img class=" animate__animated animate__zoomIn" src="{{file_url(content.field_image['#items'].entity.uri.value)}}">
          <div class="content animate__animated animate__fadeInLeft">
              {{content.body.0}}
          </div>
          <div class="blog-comments animate__animated animate__fadeInRight">
            {{content.comment.0}}
          </div>
          {% if logged_in %}
          {% else %}
          <div class="for-comment animate__fadeInRight">
            <p><a href="{{url('<front>')}}/user/login">Login</a> or <a href="{{url('<front>')}}/user/register">Register</a> to post comments</p>
          </div>
          {% endif %}
    </div>
</section>