{% extends "block.html.twig" %}
{#
/**
 * @file
 * Bartik's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set front_page = url('<front>') %}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_name or site_slogan %}
    <div class="site-branding__text navbar-brand">
      {% if site_name %}
        <h3>{{ site_name }}</h3>
      {% else %}
      {% if site_logo %}
        <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
          <img src="{{ site_logo }}" alt="Home" class="img-fluid">
        </a>
      {% endif %}
      {% endif %}
      {% if site_slogan %}
        <div class="site-branding__slogan">{{ site_slogan }}</div>
      {% endif %}
    </div>
  {% elseif site_slogan and site_logo %}
    <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
      <img src="{{ site_logo }}" alt="Home" class="img-fluid">
    </a>
    <div class="site-branding__slogan">{{ site_slogan }}</div>
  {% else %}
    {% if site_logo %}
      <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
        <img src="{{ site_logo }}" alt="Home" class="img-fluid">
      </a>
    {% else %}
      <a class="navbar-brand" href="{{ front_page }}" title="{{ 'Home'|t }}">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166.7 40"><defs><style>.cls-1{fill:#ffdf57;}</style></defs><title>Logo</title><path data-name="Path 1432" class="cls-1" d="M202.19,256.69V232.23a2.26,2.26,0,0,0-2.28-2.23,2.28,2.28,0,0,0-.44.05l-20,4.45a2.2,2.2,0,0,0-1.73,2.17v18.55a7.76,7.76,0,1,0,3.7,10.33,7.66,7.66,0,0,0,.74-3.26,7.36,7.36,0,0,0,0-1.15V238.45L197.74,235v15.76a7.74,7.74,0,1,0,4.45,7,10.65,10.65,0,0,0,0-1.13Z" transform="translate(-166.65 -230)"/><polygon points="58.08 10.26 55.78 21.57 53.64 10.26 49.03 10.26 48.7 29.71 51.79 29.71 52.08 16.68 54.48 29.71 57.19 29.71 59.45 16.77 59.81 29.71 62.85 29.71 62.52 10.26 58.08 10.26"/><path d="M239.41,254.33a8.06,8.06,0,0,1-.08,1.2,2,2,0,0,1-.4,1,1.22,1.22,0,0,1-1,.38,1.26,1.26,0,0,1-1-.38,2.13,2.13,0,0,1-.42-1,8.08,8.08,0,0,1-.09-1.2V240.26h-4.25v13.43a10.42,10.42,0,0,0,.5,3.44,4,4,0,0,0,1.77,2.14,8.68,8.68,0,0,0,7,0,4,4,0,0,0,1.76-2.14,10.13,10.13,0,0,0,.52-3.44V240.26h-4.28Z" transform="translate(-166.65 -230)"/><path d="M253.64,249.27l-1.6-1.42a8.88,8.88,0,0,1-1.36-1.43,2.79,2.79,0,0,1-.52-1.76,2.14,2.14,0,0,1,.28-1,.92.92,0,0,1,.87-.5,1,1,0,0,1,.82.34,2.1,2.1,0,0,1,.35,1c.05.42.09.92.11,1.5l3.69-.46a10.77,10.77,0,0,0-.2-1.81,5.94,5.94,0,0,0-.67-1.8,3.69,3.69,0,0,0-1.44-1.38,5.2,5.2,0,0,0-2.51-.53,5.75,5.75,0,0,0-4,1.31,4.79,4.79,0,0,0-1.47,3.78,5.31,5.31,0,0,0,.76,2.94,9.37,9.37,0,0,0,1.86,2.13l1.68,1.46a9.5,9.5,0,0,1,1.56,1.67,3.49,3.49,0,0,1,.57,2,2.46,2.46,0,0,1-.2,1,.87.87,0,0,1-.88.45,1.32,1.32,0,0,1-.9-.33,2.26,2.26,0,0,1-.57-1.11,8.69,8.69,0,0,1-.23-2l-3.67.55a9.42,9.42,0,0,0,.69,3.52,4.2,4.2,0,0,0,1.85,2,6.49,6.49,0,0,0,3.05.65,5.4,5.4,0,0,0,2.7-.65,4.51,4.51,0,0,0,1.76-1.76,5,5,0,0,0,.63-2.49,6.18,6.18,0,0,0-.88-3.38A10.64,10.64,0,0,0,253.64,249.27Z" transform="translate(-166.65 -230)"/><rect x="91.74" y="10.26" width="4.29" height="19.45"/><path d="M274.53,240.71a6.73,6.73,0,0,0-3.37-.71,6.58,6.58,0,0,0-3.49.79,4.26,4.26,0,0,0-1.81,2.25,10,10,0,0,0-.53,3.47v7a9.83,9.83,0,0,0,.53,3.42,4.32,4.32,0,0,0,1.81,2.26,6.58,6.58,0,0,0,3.49.8,6.35,6.35,0,0,0,3.39-.76,4.06,4.06,0,0,0,1.71-2.06,8.56,8.56,0,0,0,.49-3v-1.68h-4.2v2a8.36,8.36,0,0,1-.07,1.13,1.75,1.75,0,0,1-.36.9,1.18,1.18,0,0,1-1,.35,1.31,1.31,0,0,1-1-.32,1.63,1.63,0,0,1-.43-.87,6.18,6.18,0,0,1-.11-1.19v-9.14a8.27,8.27,0,0,1,.08-1.14,1.78,1.78,0,0,1,.41-.9,1.29,1.29,0,0,1,1-.36,1.21,1.21,0,0,1,1,.34,1.69,1.69,0,0,1,.35.88,9.73,9.73,0,0,1,.06,1.1v2h4.2v-1.68a7.82,7.82,0,0,0-.51-2.93A3.84,3.84,0,0,0,274.53,240.71Z" transform="translate(-166.65 -230)"/><path d="M294.65,240.92a5.63,5.63,0,0,0-2.88-.66h-6.53v19.45h4.3v-8.26h1.72a8.54,8.54,0,0,0,2.86-.45,3.87,3.87,0,0,0,2-1.65,6.48,6.48,0,0,0,.75-3.44,7.75,7.75,0,0,0-.55-3.06A4.08,4.08,0,0,0,294.65,240.92Zm-1.93,6.38a1.4,1.4,0,0,1-.54.86,2,2,0,0,1-1.2.29h-1.44v-5.16H291a1.93,1.93,0,0,1,1.27.34,1.42,1.42,0,0,1,.52.9,7.09,7.09,0,0,1,.11,1.3A7.33,7.33,0,0,1,292.72,247.3Z" transform="translate(-166.65 -230)"/><polygon points="136.39 10.26 132.1 10.26 132.1 29.71 140.86 29.71 140.86 26.81 136.39 26.81 136.39 10.26"/><path d="M316.1,254.33a8.08,8.08,0,0,1-.09,1.2,1.92,1.92,0,0,1-.39,1,1.52,1.52,0,0,1-2,0,2.13,2.13,0,0,1-.42-1,8.08,8.08,0,0,1-.09-1.2V240.26h-4.25v13.43a10.14,10.14,0,0,0,.51,3.44,3.89,3.89,0,0,0,1.76,2.14,8.68,8.68,0,0,0,7,0,4,4,0,0,0,1.76-2.14,9.89,9.89,0,0,0,.52-3.44V240.26H316.1Z" transform="translate(-166.65 -230)"/><path d="M332.47,251.72a10.84,10.84,0,0,0-2.14-2.45l-1.61-1.42a9.86,9.86,0,0,1-1.36-1.43,2.85,2.85,0,0,1-.51-1.76,2.13,2.13,0,0,1,.27-1,1.07,1.07,0,0,1,1.69-.16,2,2,0,0,1,.35,1,14.54,14.54,0,0,1,.11,1.5l3.7-.46a12,12,0,0,0-.21-1.81,5.69,5.69,0,0,0-.67-1.8,3.69,3.69,0,0,0-1.44-1.38,5.17,5.17,0,0,0-2.51-.53,5.75,5.75,0,0,0-4,1.31,4.78,4.78,0,0,0-1.46,3.78,5.4,5.4,0,0,0,.75,2.94,9.89,9.89,0,0,0,1.86,2.13l1.68,1.46a8.8,8.8,0,0,1,1.56,1.67,3.5,3.5,0,0,1,.58,2,2.31,2.31,0,0,1-.21,1,.85.85,0,0,1-.87.45,1.28,1.28,0,0,1-.9-.33,2.27,2.27,0,0,1-.58-1.11,8.69,8.69,0,0,1-.23-2l-3.67.55a9.22,9.22,0,0,0,.7,3.52,4.1,4.1,0,0,0,1.85,2,6.45,6.45,0,0,0,3,.65,5.4,5.4,0,0,0,2.7-.65,4.61,4.61,0,0,0,1.77-1.76,5.11,5.11,0,0,0,.62-2.49A6.09,6.09,0,0,0,332.47,251.72Z" transform="translate(-166.65 -230)"/></svg>
      </a>
    {% endif %}
  {% endif %}
{% endblock %}
