<form {{ attributes }}>
    <div class="row">
        <div class="col-lg-4">
            {{ element.elements.name }}
        </div>
        <div class="col-lg-4">
            {{ element.elements.email }}
        </div>
        <div class="col-lg-4">
            {{ element.elements.subject }}
        </div>
        <div class="col-lg-12">
            {{ element.elements.message }}
        </div>
        {{ element.elements.actions }}
        {{ element.form_build_id }}
        {{ element.form_token }}
        {{ element.form_id }}
    </div>
</form>
