{% extends "block.html.twig" %}
{#
/**
 * @file
 * Corporate2's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% block content %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" class="navbar-brand page-scroll" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
{% endblock %}
