 {%
  set classes = [
    'comment',
    'js-comment',
    status != 'published' ? 'comment--' ~ status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
    'clearfix',
  ]
%}
<div class="row col-md-12 other-comments">       
  <div class="blog-comment">
    <div class="comments">
      <div class="col-md-2">
        {{ user_picture }}
      </div>
      <div class="post-comments col-md-10">
        <p class="meta"><a href="#">{{ author }}</a>, Commented On: {{ created }}</p>
          {% if parent %}
          <p class="visually-hidden">{{ parent }}</p>
          {% endif %}
        <div {{ content_attributes.addClass('comment__content') }} >
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>  
