<div id="page-not-found">
  <div class="container">  
    <div class="row"> 
      <div class="col-xs-12 col-md-12 text-center">
        <div class="section-title">
          <h1>{{ node.title.value }}</h1>
          <h2>{{ content.field_template_slogan }}</h2>
        </div>        
        <div class="page-not-found-text">
          {{ content.body }}
          <a href="{{ url('<front>') }}" class="btn btn-custom btn-lg">Back To Home</a>
        </div>
      </div>      
    </div>
  </div>
</div>