
<div class="col-lg-12 col-md-12 col-xs-12">
    <h1>{{ node.title.value }}</h1>
    <p class="blog-info">Posted: {% if date %}  {{ date }} {% endif %} | By <a href="#">{{ node.Owner.name.value }}</a></p>
            {{ content.field_blogs_image }}<br />
            {{ content.body }}
            {{ content.field_blog_comments }}      
</div>
       