{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}
{% if page.navigation or page.primary_menu %}
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  {% if page.navigation %}
    <div class="navbar-header col-md-3">
      {{ page.navigation }}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
      <span class="sr-only">Toggle navigation</span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> </button>
    </div> 
  {% endif %}
  {% if page.primary_menu %}
    <div class="col-md-9"> 
      {{ page.primary_menu }}
    </div>
  {% endif %}  
  </div>
</nav>
{% endif %}

{% if page.slider %}
  <div id="slider">
    {{ page.slider }}
  </div> 
{% endif %}

{# Highlighted #}
{% if page.highlighted %}
  {% block highlighted %}
   <div class="highlighted">{{ page.highlighted }}</div>
  {% endblock %}
{% endif %}

{% if page.aboutus or page.abouticons %}
<div id="about">
  <div class="container">
    <div class="row">
    {% if page.aboutus %}
       {% block aboutus %}
      <div class="col-xs-12 col-md-12">
        <div class="about-text text-center">
          {{ page.aboutus }}
        </div>  
      </div>
      {% endblock %}
      {% endif %}
    {% if page.abouticons %}
    {% block abouticons %}  
      <div class="col-xs-12 col-md-12">
        {{ page.abouticons }}                     
      </div>
      {% endblock %}
    {% endif %}
    </div>
  </div>
</div>
{% endif %}
  
{# Header #}
{% if page.header %}
  {% block header %}
    <div class="col-sm-12" role="heading">
      {{ page.header }}
    </div>
  {% endblock %}
{% endif %}

{# Action Links #}
{% if action_links %}
  {% block action_links %}
    <ul class="action-links">{{ action_links }}</ul>
  {% endblock %}
{% endif %}

{# Content #}
{% block content %}    
  <div id="services">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="services-text text-center">
            {{ page.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% if page.portfolio or page.carousel %}
  <div id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="about-text text-center">
          {% if page.portfolio %}
            {% block portfolio %}
            <div class="col-xs-12 col-md-12">
              {{ page.portfolio }}
            </div>
            {% endblock %}
          {% endif %}
          {% if page.carousel %}
            {% block carousel %}
            <div class="col-xs-12 col-md-7">            
              {{ page.carousel }}
            </div> 
            {% endblock %}
          {% endif %}                 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if page.blog %}
  {% block blog %}
  <div id="news">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="news-text text-center">
            <div class="item">
             {{ page.blog }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endif %}

{% if page.contact %}
  {% block contact %}
  <div id="contact" class="text-center">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          {{ page.contact }}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
{% endif %} 

{% if page.map %}
  {% block map %}
    <div id="map">
      {{ page.map }}
    </div>
  {% endblock %}
{% endif %}

{% if page.footer %}
  {% block footer %}
    <div id="footer">
      <div class="container text-center">
      <p>© 2018. All Rights Reserved.<br />
     Theme Powered By <a href="http://www.youngglobes.com">Young Globes</a></p>
      </div>   
    </div>
  {% endblock %}
{% endif %}
