{#
/**
 * @file
 * Default theme override for comment fields.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional title output populated by modules, intended to
 *   be displayed after the main title tag that appears in the template.
 * - comments: List of comments rendered through comment.html.twig.
 * - content_attributes: HTML attributes for the form title.
 * - comment_form: The 'Add new comment' form.
 * - comment_display_mode: Is the comments are threaded.
 * - comment_type: The comment type bundle ID for the comment field.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 * @see comment_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'comment-wrapper',
  ]
%}
{%
  set title_classes = [
    'title',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {# {% if comments %} #}
    <div class="comment-lists">
        {{ comments }}
    </div>
  {# {% endif %} #}
  {% if comment_form %}
        <div class="form-style-1">
          {{ comment_form }}
        </div>
  {% endif %}
</div>
{% if logged_in == false %}
{# <p class="text-for-comment"><a href="{{ url('<front>') }}user/login" title="Login">Login</a> or <a href="{{ url('<front>') }}user/register" title="Register">Register</a> to post comments.</p> #}
{% endif %}